<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AngularJS Filters PRQ-8_1</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body ng-controller="nameCtrl">
    <h2>AngularJS Filters PRQ-8_1</h2>
    <h3>Enter Names</h3>
    Enter first name: <input type="text" ng-model="student.firstName"><br><br>
    Enter last name: <input type="text" ng-model="student.lastName"><br><br>
    Full name in CAPITALS: {{student.fullName() | uppercase}}<br>

    <script>
        var app = angular.module('myApp', []);
        app.controller('nameCtrl', function($scope) {
            $scope.student = {
                firstName: '',
                lastName: ''
            };
            $scope.student.fullName = function() {
                return $scope.student.firstName + ' ' + $scope.student.lastName;
            };
        });
    </script>
</body>
</html>