<h2>Employee Registration Form</h2>

<form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">

  <label>Full Name:</label>
  <input type="text" formControlName="fullName">
  <div *ngIf="submitted && employeeForm.get('fullName')?.invalid">
    Name is required.
  </div>

  <br><br>

  <label>Email:</label>
  <input type="email" formControlName="email">
  <div *ngIf="submitted && employeeForm.get('email')?.invalid">
    Valid email required.
  </div>

  <br><br>

  <label>Age:</label>
  <input type="number" formControlName="age">

  <div *ngIf="submitted && employeeForm.get('age')?.errors?.['required']">
    Age is required.
  </div>

  <div *ngIf="submitted && employeeForm.get('age')?.errors?.['min']">
    Minimum age is 18.
  </div>

  <div *ngIf="submitted && employeeForm.get('age')?.errors?.['max']">
    Maximum age is 60.
  </div>

  <br><br>

  <label>Gender:</label>
  <input type="radio" value="Male" formControlName="gender"> Male
  <input type="radio" value="Female" formControlName="gender"> Female

  <br><br>

  <label>Department:</label>
  <select formControlName="department">
    <option value="">Select</option>
    <option>HR</option>
    <option>IT</option>
    <option>Finance</option>
  </select>

  <div *ngIf="submitted && employeeForm.get('department')?.invalid">
    Department required.
  </div>

  <br><br>

  <div formGroupName="skills">
    <label>Skills:</label>
    <input type="checkbox" formControlName="java"> Java
    <input type="checkbox" formControlName="python"> Python
    <input type="checkbox" formControlName="angular"> Angular
  </div>

  <br><br>

  <label>Password:</label>
  <input type="password" formControlName="password">

  <div *ngIf="submitted && employeeForm.get('password')?.errors?.['required']">
    Password required.
  </div>

  <div *ngIf="submitted && employeeForm.get('password')?.errors?.['minlength']">
    Minimum 6 characters.
  </div>

  <br><br>

  <button type="submit">Register</button>

</form>

<hr>

<div *ngIf="submitted && employeeForm.valid">
  <h3>Employee Details</h3>
  <pre>{{ employeeForm.value | json }}</pre>
</div>